<header class="masthead">
	<div class="container h-100">
		<div class="row h-100">
			<div class="col-lg-7 my-auto">
				<div class="header-content mx-auto">
					<h1 class="mb-5">Matcha is an app that will help you find love !</h1>
					<a href="../../create" class="btn btn-outline btn-xl js-scroll-trigger">Register</a>
				</div>
			</div>
			<div class="col my-auto">
				<form action="../../login" method="POST">
					<h3 class="mb-2">Member Login</h3>
					<div class="form-group">
						<label for="username">Username</label>
						<input type="text" class="form-control" name="username" id="username" placeholder="Username" autocomplete="username">
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" class="form-control" name="password" id="password" placeholder="Password" autocomplete="current-password">
					</div>
					<input class="mb-2 btn btn-outline btn-xl js-scroll-trigger" type="submit" name="login" value="login"><br>
					<span>Forgot </span><a href="../../forgotten">Password ?</a><br>
					<a href="../../create/" >Create your Account</a><br>
				</form>
			</div>
		</div>
	</div>
</header>


<section class="download bg-primary text-center" id="download">
	<div class="container">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<h2 class="section-heading">Matcha <br>Discover what all the buzz is about!</h2>
				<p>Our app is available on any mobile device! Download now to get started!</p>
				<div class="badges">
					<a class="badge-link" href="https://play.google.com/store/apps/details?id=com.waplogmatch.social"><img src="{{ @BASE. '/ui/img/google-play-badge.svg' }}" alt=""></a>
					<a class="badge-link" href="https://apps.apple.com/fr/app/matcha/id999399445"><img src="{{ @BASE. '/ui/img/app-store-badge.svg' }}" alt=""></a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="features" id="features">
	<div class="container">
		<div class="section-heading text-center">
			<h2>Unlimited messages, Unlimited Fun</h2>
			<p class="text-muted">Check out who you can chat with in private</p>
			<hr>
			<div class="row">
				<div class="col-lg-4 my-auto">
					<div class="device-container">
						<div class="device-mockup iphone6_plus portrait white">
							<div class="device">
								<div class="screen">
									<!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
									<img src="{{ @BASE. '/ui/img/matche-love.gif' }}" class="img-fluid">
								</div>
								<div class="button">
									<!-- You can hook the "home button" to some JavaScript events or just remove it -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8 my-auto">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-6">
								<div class="feature-item">
									<i class="icon-screen-smartphone text-primary"></i>
									<h3>Mobile friendly</h3>
									<p class="text-muted">Ready to complete your profile ?</p>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="feature-item">
									<i class="icon-camera text-primary"></i>
									<h3>Image</h3>
									<p class="text-muted">Put an image or more in your profile</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="feature-item">
									<i class="icon-present text-primary"></i>
									<h3>Free to Use</h3>
									<p class="text-muted">For a limited time Matcha is 100% free for anyone!</p>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="feature-item">
									<i class="fa fa-globe-africa text-primary"></i>
									<h3>Worldwide</h3>
									<p class="text-muted">Use Matcha everywhere in the world !</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="cta">
	<div class="cta-content">
		<div class="container">
			<h2>Stop waiting.<br>Start dating.</h2>
			<a href="../../create" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
		</div>
	</div>
	<div class="overlay"></div>
</section>

<section class="contact bg-primary" id="contact">
	<div class="container">
		<h2>We
			<i class="fas fa-heart"></i>
			Matcha !</h2>
		<ul class="list-inline list-social">
			<li class="list-inline-item social-twitter">
				<a href="https://twitter.com/">
					<i class="fab fa-twitter"></i>
				</a>
			</li>
			<li class="list-inline-item social-facebook">
				<a href="https://www.facebook.com/">
					<i class="fab fa-facebook-f"></i>
				</a>
			</li>
		</ul>
	</div>
</section>